@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  --clr-background-primary: hsl(210, 46%, 95%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-desatured-blue: hsl(214, 17%, 51%);
  --clr-dark-blue: hsl(217, 19%, 35%);
  --clr-white: #fff;

  --ff-default: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--clr-background-primary);

  font-family: var(--ff-default);
  font-size: 1.4rem;
  padding: 2rem;
}

button {
  cursor: pointer;
}

.background-card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.text-primary {
  font-size: 1.6rem;
  color: var(--clr-dark-blue);
}

.text {
  color: var(--clr-desatured-blue);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 550px;
  background: var(--clr-white);
  border-radius: 12px;
}


.container .content {
  padding: 3rem 2.5rem;
}


.container .content h4 {
  margin-bottom: 1.5rem;
}

.card-footer {
  height: 100px;
}

.card-footer .shared {
  display: none;
  visibility: hidden;
}

.card-footer .user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 2.5rem;
  height: 100%;
}

.card-footer .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem
}

.card-footer .user div {
  display: flex;
  flex-direction: column;
}

.card-footer .user div strong {
  font-weight: 700;
  color: var(--clr-dark-blue);
}

.card-footer .user div p {
  color: var(--clr-grayish-blue);
}

.card-footer .user button img {
  width: 15px;
  height: 13px;
  margin: 0;
}

.card-footer .user .share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background: var(--clr-background-primary);
  margin-left: auto;
  outline-color: var(--clr-desatured-blue) ;
}

.card-footer.share .shared {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  visibility: visible;
  padding: 2rem 3rem 2.5rem;
  border-radius: 0 0 10px 10px;
}

.card-footer.share .user {
  display: none;
  visibility: hidden;
}

.card-footer.share .shared {
  background: var(--clr-dark-blue);
  padding: 2rem 3rem 2.5rem;
}

.card-footer.share .shared div {
  display: flex;
  align-items: center;
}

.card-footer.share .shared div > * + * {
  margin-left: 1rem;
}

.card-footer.share .shared span {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--clr-grayish-blue);
}

.card-footer.share .shared .share-button {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background: var(--clr-background-primary);
  outline-color: var(--clr-desatured-blue) ;
}
